In [1]:
# Load library
import pandas as pd

In [2]:
# Create URL
url = 'https://raw.githubusercontent.com/chrisalbon/sim_data/master/data.xlsx'

In [3]:
# Load data
dataframe = pd.read_excel(url, sheet_name=0, header=1)

In [4]:
# Show two rows
dataframe.head(2)

   5 2015-01-01 00:00:00  0
0  5 2015-01-01 00:00:01  0
1  9 2015-01-01 00:00:02  0

In [5]:
# Show dimensions
dataframe.shape

(99, 3)

In [6]:
# Show statistics
dataframe.describe()

               5         2015-01-01 00:00:00     0
count  99.000000                          99  99.0
mean    5.505051         2015-01-01 00:00:50   0.0
min     1.000000         2015-01-01 00:00:01   0.0
25%     4.000000  2015-01-01 00:00:25.500000   0.0
50%     6.000000         2015-01-01 00:00:50   0.0
75%     8.000000  2015-01-01 00:01:14.500000   0.0
max     9.000000         2015-01-01 00:01:39   0.0
std     2.647192                         NaN   0.0

In [7]:
# Show info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   5                    99 non-null     int64
 1   2015-01-01 00:00:00  99 non-null     datetime64[ns]
 2   0                    99 non-null     int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 2.4 KB